{% extends 'base.html.twig' %}

{% block title %}Modifier Documentexpedition{% endblock %}

{% block body %}
<!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/contact-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Document d'expedition</h2>
        <ol>
          <li><a href="{{path('app_accueil')}}">Accueil</a></li>
          <li>Document d'expedition</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->
    <h1>Modifier Documentexpedition</h1>

    {{ include('documentexpedition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_documentexpedition_index') }}">Retour a la liste</a>

    {{ include('documentexpedition/_delete_form.html.twig') }}
{% endblock %}
