{% extends 'baseadmin.html.twig' %}

{% block title %}Nouvelle Annonce{% endblock %}

{% block body %}
    <h1>Create new Annonces</h1>

    {{ include('admin_annonce/_form.html.twig') }}

    <a href="{{ path('app_admin_annonce_index') }}">back to list</a>
{% endblock %}
