{% extends 'baseadmin.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <h1>Ajouter Reservation</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('app_reservation_index') }}">Retourner</a>
{% endblock %}
