{% extends 'baseadmin.html.twig' %}

{% block title %}Nouvelle Compétition{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Compétition</h1>

    {{ include('competition/_form.html.twig') }}

    <a href="{{ path('app_competition_index') }}">Retourner</a>
{% endblock %}
