{% extends 'base.html.twig' %}

{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Conditions d'utilisation</h2>
                <ol>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li>Conditions d'utilisation</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Terms Section ======= -->
    <section class="terms">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="terms-title">Conditions d'utilisation</h3>
                    <p class="terms-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nunc massa. Integer luctus justo vel purus dignissim, in vestibulum neque lacinia. Curabitur venenatis tellus at quam maximus tristique. Nulla feugiat diam enim, a gravida elit bibendum et. Donec eu felis eget enim suscipit viverra nec quis nulla. In hac habitasse platea dictumst. Praesent id venenatis mi. Praesent eget nulla ac ipsum aliquet fringilla.
                    </p>
                    <p class="terms-text">
                        Maecenas et enim massa. Nullam facilisis risus sit amet risus molestie pretium. Suspendisse euismod nec mi sit amet sagittis. In iaculis bibendum libero, ac commodo tellus imperdiet vitae. Aliquam bibendum massa id felis iaculis, non cursus elit malesuada. Sed vel imperdiet ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed fringilla eros ac mi volutpat lacinia.
                    </p>
                    <p class="terms-text">
                        Nunc congue id lacus ac egestas. Aliquam erat volutpat. Sed eget magna lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi venenatis velit vel euismod pharetra. Pellentesque eget iaculis diam. Etiam lacinia commodo orci, quis mollis ante ultrices ut. Aliquam rutrum urna a ipsum cursus, in commodo elit semper. Curabitur at risus ipsum. Proin fermentum efficitur mauris a semper. Sed commodo dolor turpis, sed imperdiet mi volutpat nec.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End Terms Section -->

{% endblock %}
